<nav class="navbar-wagon">
  <div class="container navbar-wagon-container">

    <a href="/">
      <%= image_tag "logo_cocktail.png", id: "logo" %>
    </a>
    <a href="/" class="police-lobster">
      Miss Cocktail
    </a>

    <div class="navbar-wagon-pusher"></div>
    <%= link_to "" do %>
      <i class='fa fa-facebook'></i>
    <% end %>
    <%= link_to "" do %>
      <i class='fa fa-instagram'></i>
    <% end %>
  </div>
</nav>
