.card {
  margin: 20px;
  padding: 10px;
  height: 200px;
  display: flex;
  justify-content: center;
  border-radius: 3px;
  align-items: center;

  &-new {
    background-color: #EF709D;
    a {
      font-size: 30px;
      color: white;
      &:hover {
        color: #EA3788;
      }
    }
  }
  &-cocktail {
    border: 1px solid #EF709D;
  }
}
.color-pink {
  color: #EA3788;
}
